<html lang="en">
  <head>
    <title>Church Member Management</title>
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="font-awesome.min.css" />
  </head>
  <body>
    <nav>
      <h4>Church Member Management</h4>
      <ul>
        <li><a href="/?agent={{agent}}">Home</a></li>
        <li><a href="/login?agent={{agent}}">Login</a></li>
        <li><a href="/register?agent={{agent}}">Register</a></li>
      </ul>
    </nav>
    {{{body}}}
    <footer>
      <p>&copy; {{date}} Church Member Management. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>